* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  :root {
    --color-f-white: #ffffff;
    --color-f-black: #222222; 
  }
  :root {
    --primary-color:#F7452E;
    --link-color: #05547b;
    --info-color: #0F88A1;
    --success-color: #1EDB4C;
    --warning-color: #FFAB1D;
    --danger-color: #f14668;
    --light-color: #ffffff;
    --dark-color: #666666;
    --dark-color-outline: #dbdbdb;
    --primary-dark-color: #3d8c40;
    --secondary-color: #1f89f8;
    /* Box shadow */
    --primary-box-shadow: rgba(248, 77, 128, 0.25);
    --link-box-shadow: rgb(36, 102, 209, 0.25);
    --info-box-shadow: rgba(50, 152, 220, 0.25);
    --success-box-shadow: rgba(72, 199, 116, 0.25);
    --warning-box-shadow: rgba(255, 221, 87, 0.25);
    --danger-box-shadow: rgba(241, 70, 104, 0.25);
  }
  .background-primary {
    background-color: var(--primary-color);
  }
  .background-link {
    background-color: var(--link-color);
  }
  .background-info {
    background-color: var(--info-color);
  }
  .background-success {
    background-color: var(--success-color);
  }
  .background-warning {
    background-color: var(--warning-color);
  }
  /* ==============  ==============  ==============  ==============  ==============  ==============  ==============  ==============*/
  
  /* ----------------- ----------------- -----------------   btn -color-size-style  ----------------- ----------------- -----------------  */
  .btn {
    background-color: var(--primary-color);
    padding: 7px 16px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    
  }
  .btn-Rounded{
      border-radius: 290486px;
      padding-left: calc(1em + .25em);
      padding-right: calc(1em + .25em);
  }
  /* ------------------------------------------------------------------btn---------------------------------------------------------------------------------- */
  .btn-primary {
    background-color: var(--primary-color);
  }
  .btn-success {
    background-color: var(--success-color);
  }
  .btn-info {
    background-color: var(--info-color);
  }
  .btn-danger {
    background-color: var(--danger-color);
  }
  .btn-warning {
    background-color: var(--warning-color);
  }
  /* Size */
  .btn-small {
    padding: 4px 12px;
    font-size: 0.75rem;
  }
  .btn-default {
    padding: 7px 16px;
    font-size: 1rem;
  }
  .btn-normal {
    padding: 7px 16px;
    font-size: 1rem;
  }
  .btn-medium {
    padding: 9px 20px;
    font-size: 1.25rem;
  }
  .btn-large {
    padding: 11px 24px;
    font-size: 1.3rem;
  }
  /* style - btn - outline */
  .btn-outlined {
    border: 1px solid;
  }
  .btn-primary.btn-outlined {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
  .btn-success.btn-outlined {
    background-color: transparent;
    border-color: var(--success-color);
    color: var(--success-color);
  }
  .btn-info.btn-outlined {
    background-color: transparent;
    border-color: var(--info-color);
    color: var(--info-color);
  }
  .btn-warning.btn-outlined {
    background-color: transparent;
    border-color: var(--warning-color);
    color: var(--warning-color);
  }
  .btn-danger.btn-outlined {
    background-color: transparent;
    border-color: var(--danger-color);
    color: var(--danger-color);
  }
  
  /* Style - btn - solid */
  .btn-primary-solid {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  .btn-success-solid {
    background-color: var(--success-color);
    border: 1px solid var(--success-color);
  }
  .btn-danger-solid {
    background-color: var(--danger-color);
    border: 1px solid var(--danger-color);
  }
  .btn-info-solid {
    background-color: var(--info-color);
    border: 1px solid var(--info-color);
  }
  .btn-warning-solid {
    background-color: var(--warning-color);
    border: 1px solid var(--warning-color);
  }
  
  .btn-primary-solid:hover {
    background-color: var(--primary-dark-color);
  }
  
  /* ==============  ==============  ==============  ==============  ==============  ==============  ==============  ==============*/
  
  /* ----------------------------------------------------------Font -------------------------------------------------------------------------------------*/
  /* ----------------- -----------------  -----------------  Font Size ----------------- ----------------- ----------------- */
  .fs-1 {
    font-size: 1px;
  }
  .fs-2 {
    font-size: 2px;
  }
  .fs-3 {
    font-size: 3px;
  }
  .fs-4 {
    font-size: 4px;
  }
  .fs-5 {
    font-size: 5px;
  }
  .fs-6 {
    font-size: 6px;
  }
  .fs-7 {
    font-size: 7px;
  }
  .fs-8 {
    font-size: 8px;
  }
  .fs-9 {
    font-size: 9px;
  }
  .fs-10 {
    font-size: 10px;
  }
  .fs-11 {
    font-size: 11px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-15 {
    font-size: 15px;
  }
  .fs-16 {
    font-size: 16px;
  }
  .fs-17 {
    font-size: 17px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .fs-19 {
    font-size: 19px;
  }
  .fs-20 {
    font-size: 20px;
  }
  .fs-21 {
    font-size: 21px;
  }
  .fs-22 {
    font-size: 22px;
  }
  .fs-23 {
    font-size: 23px;
  }
  .fs-24 {
    font-size: 24px;
  }
  .fs-25 {
    font-size: 25px;
  }
  .fs-26 {
    font-size: 26px;
  }
  .fs-27 {
    font-size: 27px;
  }
  .fs-28 {
    font-size: 28px;
  }
  .fs-29 {
    font-size: 29px;
  }
  .fs-30 {
    font-size: 30px;
  }
  .fs-31 {
    font-size: 31px;
  }
  .fs-32 {
    font-size: 32px;
  }
  .fs-33 {
    font-size: 33px;
  }
  .fs-34 {
    font-size: 34px;
  }
  .fs-35 {
    font-size: 35px;
  }
  .fs-36 {
    font-size: 36px;
  }
  .fs-37 {
    font-size: 37px;
  }
  .fs-38 {
    font-size: 38px;
  }
  .fs-39 {
    font-size: 39px;
  }
  .fs-40 {
    font-size: 40px;
  }
  .fs-41 {
    font-size: 41px;
  }
  .fs-42 {
    font-size: 42px;
  }
  .fs-43 {
    font-size: 43px;
  }
  .fs-44 {
    font-size: 44px;
  }
  .fs-45 {
    font-size: 45px;
  }
  .fs-46 {
    font-size: 46px;
  }
  .fs-47 {
    font-size: 47px;
  }
  .fs-48 {
    font-size: 48px;
  }
  .fs-49 {
    font-size: 49px;
  }
  .fs-50 {
    font-size: 50px;
  }
  .fs-51 {
    font-size: 51px;
  }
  .fs-52 {
    font-size: 52px;
  }
  .fs-53 {
    font-size: 53px;
  }
  .fs-54 {
    font-size: 54px;
  }
  .fs-55 {
    font-size: 55px;
  }
  .fs-56 {
    font-size: 56px;
  }
  .fs-57 {
    font-size: 57px;
  }
  .fs-58 {
    font-size: 58px;
  }
  .fs-59 {
    font-size: 59px;
  }
  .fs-60 {
    font-size: 60px;
  }
  .fs-61 {
    font-size: 61px;
  }
  .fs-62 {
    font-size: 62px;
  }
  .fs-63 {
    font-size: 63px;
  }
  .fs-64 {
    font-size: 64px;
  }
  .fs-65 {
    font-size: 65px;
  }
  .fs-66 {
    font-size: 66px;
  }
  .fs-67 {
    font-size: 67px;
  }
  .fs-68 {
    font-size: 68px;
  }
  .fs-69 {
    font-size: 69px;
  }
  .fs-70 {
    font-size: 70px;
  }
  .fs-71 {
    font-size: 71px;
  }
  .fs-72 {
    font-size: 72px;
  }
  .fs-73 {
    font-size: 73px;
  }
  .fs-74 {
    font-size: 74px;
  }
  .fs-75 {
    font-size: 75px;
  }
  .fs-76 {
    font-size: 76px;
  }
  .fs-77 {
    font-size: 77px;
  }
  .fs-78 {
    font-size: 78px;
  }
  .fs-79 {
    font-size: 79px;
  }
  .fs-80 {
    font-size: 80px;
  }
  .fs-81 {
    font-size: 81px;
  }
  .fs-82 {
    font-size: 82px;
  }
  .fs-83 {
    font-size: 83px;
  }
  .fs-84 {
    font-size: 84px;
  }
  .fs-85 {
    font-size: 85px;
  }
  .fs-86 {
    font-size: 86px;
  }
  .fs-87 {
    font-size: 87px;
  }
  .fs-88 {
    font-size: 88px;
  }
  .fs-89 {
    font-size: 89px;
  }
  .fs-90 {
    font-size: 90px;
  }
  .fs-91 {
    font-size: 91px;
  }
  .fs-92 {
    font-size: 92px;
  }
  .fs-93 {
    font-size: 93px;
  }
  .fs-94 {
    font-size: 94px;
  }
  .fs-95 {
    font-size: 95px;
  }
  .fs-96 {
    font-size: 96px;
  }
  .fs-97 {
    font-size: 97px;
  }
  .fs-98 {
    font-size: 98px;
  }
  .fs-99 {
    font-size: 99px;
  }
  .fs-100 {
    font-size: 100px;
  }
  .fs-101 {
    font-size: 101px;
  }
  .fs-102 {
    font-size: 102px;
  }
  .fs-103 {
    font-size: 103px;
  }
  .fs-104 {
    font-size: 104px;
  }
  .fs-105 {
    font-size: 105px;
  }
  .fs-106 {
    font-size: 106px;
  }
  .fs-107 {
    font-size: 107px;
  }
  .fs-108 {
    font-size: 108px;
  }
  .fs-109 {
    font-size: 109px;
  }
  .fs-110 {
    font-size: 110px;
  }
  .fs-111 {
    font-size: 111px;
  }
  .fs-112 {
    font-size: 112px;
  }
  .fs-113 {
    font-size: 113px;
  }
  .fs-114 {
    font-size: 114px;
  }
  .fs-115 {
    font-size: 115px;
  }
  .fs-116 {
    font-size: 116px;
  }
  .fs-117 {
    font-size: 117px;
  }
  .fs-118 {
    font-size: 118px;
  }
  .fs-119 {
    font-size: 119px;
  }
  .fs-120 {
    font-size: 120px;
  }
  .fs-121 {
    font-size: 121px;
  }
  .fs-122 {
    font-size: 122px;
  }
  .fs-123 {
    font-size: 123px;
  }
  .fs-124 {
    font-size: 124px;
  }
  .fs-125 {
    font-size: 125px;
  }
  .fs-126 {
    font-size: 126px;
  }
  .fs-127 {
    font-size: 127px;
  }
  .fs-128 {
    font-size: 128px;
  }
  .fs-129 {
    font-size: 129px;
  }
  .fs-130 {
    font-size: 130px;
  }
  .fs-131 {
    font-size: 131px;
  }
  .fs-132 {
    font-size: 132px;
  }
  .fs-133 {
    font-size: 133px;
  }
  .fs-134 {
    font-size: 134px;
  }
  .fs-135 {
    font-size: 135px;
  }
  .fs-136 {
    font-size: 136px;
  }
  .fs-137 {
    font-size: 137px;
  }
  .fs-138 {
    font-size: 138px;
  }
  .fs-139 {
    font-size: 139px;
  }
  .fs-140 {
    font-size: 140px;
  }
  .fs-141 {
    font-size: 141px;
  }
  .fs-142 {
    font-size: 142px;
  }
  .fs-143 {
    font-size: 143px;
  }
  .fs-144 {
    font-size: 144px;
  }
  .fs-145 {
    font-size: 145px;
  }
  .fs-146 {
    font-size: 146px;
  }
  .fs-147 {
    font-size: 147px;
  }
  .fs-148 {
    font-size: 148px;
  }
  .fs-149 {
    font-size: 149px;
  }
  .fs-150 {
    font-size: 150px;
  }
  .fs-151 {
    font-size: 151px;
  }
  .fs-152 {
    font-size: 152px;
  }
  .fs-153 {
    font-size: 153px;
  }
  .fs-154 {
    font-size: 154px;
  }
  .fs-155 {
    font-size: 155px;
  }
  .fs-156 {
    font-size: 156px;
  }
  .fs-157 {
    font-size: 157px;
  }
  .fs-158 {
    font-size: 158px;
  }
  .fs-159 {
    font-size: 159px;
  }
  .fs-160 {
    font-size: 160px;
  }
  .fs-161 {
    font-size: 161px;
  }
  .fs-162 {
    font-size: 162px;
  }
  .fs-163 {
    font-size: 163px;
  }
  .fs-164 {
    font-size: 164px;
  }
  .fs-165 {
    font-size: 165px;
  }
  .fs-166 {
    font-size: 166px;
  }
  .fs-167 {
    font-size: 167px;
  }
  .fs-168 {
    font-size: 168px;
  }
  .fs-169 {
    font-size: 169px;
  }
  .fs-170 {
    font-size: 170px;
  }
  .fs-171 {
    font-size: 171px;
  }
  .fs-172 {
    font-size: 172px;
  }
  .fs-173 {
    font-size: 173px;
  }
  .fs-174 {
    font-size: 174px;
  }
  .fs-175 {
    font-size: 175px;
  }
  .fs-176 {
    font-size: 176px;
  }
  .fs-177 {
    font-size: 177px;
  }
  .fs-178 {
    font-size: 178px;
  }
  .fs-179 {
    font-size: 179px;
  }
  .fs-180 {
    font-size: 180px;
  }
  .fs-181 {
    font-size: 181px;
  }
  .fs-182 {
    font-size: 182px;
  }
  .fs-183 {
    font-size: 183px;
  }
  .fs-184 {
    font-size: 184px;
  }
  .fs-185 {
    font-size: 185px;
  }
  .fs-186 {
    font-size: 186px;
  }
  .fs-187 {
    font-size: 187px;
  }
  .fs-188 {
    font-size: 188px;
  }
  .fs-189 {
    font-size: 189px;
  }
  .fs-190 {
    font-size: 190px;
  }
  .fs-191 {
    font-size: 191px;
  }
  .fs-192 {
    font-size: 192px;
  }
  .fs-193 {
    font-size: 193px;
  }
  .fs-194 {
    font-size: 194px;
  }
  .fs-195 {
    font-size: 195px;
  }
  .fs-196 {
    font-size: 196px;
  }
  .fs-197 {
    font-size: 197px;
  }
  .fs-198 {
    font-size: 198px;
  }
  .fs-199 {
    font-size: 199px;
  }
  .fs-200 {
    font-size: 200px;
  }
  /* ----------------- ----------------- ----------------- font - weight ----------------- --------------------  -------------- */
  .fw-100 {
    font-weight: 100;
  }
  .fw-200 {
    font-weight: 200;
  }
  .fw-300 {
    font-weight: 300;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
  .fw-800 {
    font-weight: 800;
  }
  .fw-900 {
    font-weight: 900;
  }
  /* ----------------- ----------------- ----------------- font - color ----------------- --------------------  -------------- */
  .f-primary {
    color: var(--primary-color);
  }
  .f-link {
    color: var(--link-color);
  }
  .f-info {
    color: var(--info-color);
  }
  .f-success {
    color: var(--success-color);
  }
  .f-warning {
    color: var(--warning-color);
  }
  .f-danger {
    color: var(--danger-color);
  }
  .f-light {
    color: var(--light-color);
  }
  .f-dark {
    color: var(--dark-color);
  }
  /* ----------------- ----------------- ----------------- font - line-height ----------------- ----------------- ----------------- */
  .lh-1-0 {
    line-height: 1;
  }
  .lh-1-1 {
    line-height: 1.1;
  }
  .lh-1-2 {
    line-height: 1.2;
  }
  .lh-1-3 {
    line-height: 1.3;
  }
  .lh-1-4 {
    line-height: 1.4;
  }
  .lh-1-5 {
    line-height: 1.5;
  }
  .lh-1-6 {
    line-height: 1.6;
  }
  .lh-1-7 {
    line-height: 1.7;
  }
  .lh-1-8 {
    line-height: 1.8;
  }
  .lh-1-9 {
    line-height: 1.9;
  }
  .lh-2-0 {
    line-height: 2;
  }
  .lh-2-1 {
    line-height: 2.1;
  }
  .lh-2-2 {
    line-height: 2.2;
  }
  .lh-2-3 {
    line-height: 2.3;
  }
  .lh-2-4 {
    line-height: 2.4;
  }
  .lh-2-5 {
    line-height: 2.5;
  }
  .lh-2-6 {
    line-height: 2.6;
  }
  .lh-2-7 {
    line-height: 2.7;
  }
  .lh-2-8 {
    line-height: 2.8;
  }
  .lh-2-9 {
    line-height: 2.9;
  }
  /* ----------------- ----------------- ----------------- font - Style ----------------- ----------------- ----------------- */
  .f-style-italic {
    font-style: italic;
  }
  .f-style-normal {
    font-style: normal;
  }
  .f-style-oblique {
    font-style: oblique;
  }
  .f-style-initial {
    font-style: initial;
  }
  .f-style-inherit {
    font-style: inherit;
  }
  .f-style-unset {
    font-style: unset;
  }
  
  /* ==============  ==============  ==============  ==============  ==============  ==============  ==============  ==============*/
  
  /* -------------------------------------------------------- input -------------------------------------------------------------*/
  /* ----------------- ----------------- ----------------- input - color ----------------- ----------------- ----------------- */
  .input-primary {
    border-color: var(--primary-color);
  }
  .input-link {
    border-color: var(--link-color);
  }
  .input-info {
    border-color: var(--info-color);
  }
  .input-success {
    border-color: var(--success-color);
  }
  .input-warning {
    border-color: var(--warning-color);
  }
  .input-danger {
    border-color: var(--danger-color);
  }
  /* Focus */
  .input-primary:focus {
    box-shadow: 0 0 0 0.125em var(--primary-box-shadow);
  }
  .input-link:focus {
    box-shadow: 0 0 0 0.125em var(--link-box-shadow);
  }
  .input-info:focus {
    box-shadow: 0 0 0 0.125em var(--info-box-shadow);
  }
  .input-success:focus {
    box-shadow: 0 0 0 0.125em var(--success-box-shadow);
  }
  .input-warning:focus {
    box-shadow: 0 0 0 0.125em var(--warning-box-shadow);
  }
  /* ----------------- ----------------- ----------------- input - size ----------------- ----------------- ----------------- */
  .input-small {
    font-size: 0.75rem;
  }
  .input-normal {
    font-size: 1rem;
  }
  .input-medium {
    font-size: 1.25rem;
  }
  .input-large {
    font-size: 1.5rem;
  }
  .input-rounded {
    border-radius: 290486px;
    padding-left: calc(calc(0.75em - 1px) + 0.375em);
    padding-right: calc(calc(0.75em - 1px) + 0.375em);
  }
  
  /* ==============  ==============  ==============  ==============  ==============  ==============  ==============  ==============*/
  
  /*----------------- ----------------- ----------------- modal ----------------- ----------------- -----------------  */
  .modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-background {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
  }
  .modal-content {
    display: inline-block;
    max-width: 80%;
    max-height: 90%;
  }
  .modal-close {
  }
  .table {
    padding: 1.5rem;
  }
  .table thead {
    background-color: transparent;
  }
  .table tfoot {
    background-color: transparent;
  }
  .table th:not([align]) {
    text-align: inherit;
  }
  
  /* ==============  ==============  ==============  ==============  ==============  ==============  ==============  ==============*/
  
  /* -----------------   -----------------  ----------------- CARD ----------------- ----------------- -----------------   */
  .card {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
  }
  .card-header {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .card-content {
    background-color: transparent;
    padding: 1.5rem;
  }
  .card-image {
    display: block;
    height: auto;
    width: 100%;
  }
  /* ==============  ==============  ==============  ==============  ==============  ==============  ==============  ==============*/
  
  /* -------------------------------------------------------  notification --------------------------------------------------------- */
  .notification {
    background-color: #f5f5f5;
    border-radius: 4px;
    position: absolute;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    bottom: 0;
    right: 0;
  }
  .notification.background-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  .notification.background-success {
    background-color: var(--success-color);
    color: #fff;
  }
  .notification.background-link {
    background-color: var(--link-color);
    color: #fff;
  }
  .notification.background-warning {
    background-color: var(--warning-color);
    color: #fff;
  }
  .notification.background-danger {
    background-color: var(--danger-color);
    color: #fff;
  }